<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.online.ecommercePlatform.mapper.CartMapper">

    <resultMap id="BaseResultMap" type="com.online.ecommercePlatform.pojo.Cart">
        <id column="cart_id" property="cartId" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="product_id" property="productId" jdbcType="BIGINT"/>
        <result column="quantity" property="quantity" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT * FROM cart WHERE user_id = #{userId}
    </select>

    <select id="selectByUserIdAndProductId" resultMap="BaseResultMap">
        SELECT * FROM cart
        WHERE user_id = #{userId} AND product_id = #{productId}
    </select>

    <insert id="insert" parameterType="com.online.ecommercePlatform.pojo.Cart" useGeneratedKeys="true" keyProperty="cartId">
        INSERT INTO cart (user_id, product_id, quantity, create_time)
        VALUES (#{userId}, #{productId}, #{quantity}, #{createTime})
    </insert>

    <update id="updateQuantity" parameterType="com.online.ecommercePlatform.pojo.Cart">
        UPDATE cart SET quantity = #{quantity}
        WHERE cart_id = #{cartId}
    </update>

    <select id="selectByCartId" resultType="com.online.ecommercePlatform.pojo.Cart">
        SELECT * FROM cart WHERE cart_id = #{cartId}
    </select>

    <delete id="deleteByCartId">
        DELETE FROM cart WHERE cart_id = #{cartId}
    </delete>

    <delete id="deleteByUserId">
        DELETE FROM cart WHERE user_id = #{userId}
    </delete>
</mapper>
