<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.online.ecommercePlatform.mapper.OperationLogMapper">
    <!-- 插入操作日志 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="logId">
        INSERT INTO OperationLog(
            user_id,
            action,
            target_table,
            target_id,
            description,
            result,
            create_time
        ) VALUES (
            #{userId},
            #{action},
            #{targetTable},
            #{targetId},
            #{description},
            #{result},
            NOW()
        )
    </insert>
</mapper> 